
.exp-card{
  display: grid;
  grid-template-columns: 1fr 7.5rem;
  gap: 0.5rem;
  .icon-container{
    grid-row: 1 / span 3;
    grid-column: 2;
    justify-self: center;
    align-self: center;
  }
}