.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .form-control {
      padding: 0.5rem 1.2rem;
      font-size: 1.8rem;
      border: 1px solid #0f0f0f;
      border-radius: 0.8rem;
      background-color: #fff;
      &::placeholder {
        color: #fff;
      }
    }
    .form-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      position: relative;
      .form-label {
        position: absolute;
        top: 0.5rem;
        left: 1.2rem;
        font-size: 1.8rem;
        transition: all 200ms ease-in;
      }

      &:has(.form-control:not(:placeholder-shown), .form-control:focus){
        .form-label{
          top: -1rem;
          left: 1rem;
          font-size: 1.2rem;
          padding: 0 0.5rem;
          background-color: #fff;
        }
      }
    }
  }
}

@media screen and (min-width: 890px) {
  .form {
    gap: 2rem;
    .form-row {
      flex-direction: row;
      &.two-cols {
        gap: 1.5rem;
        .form-group {
          flex: 0 0 calc(100% / 2);
        }
        .form-group {
          &:nth-child(2) {
            .form-control {
              width: calc(100% - 1.5rem);
            }
          }
          &:nth-child(2n) {
            .form-control {
              width: calc(100% - 1.5rem);
            }
          }
        }
      }
    }
  }
}
