.hero-container,
.contact-us {
  width: 100%;
  position: relative;
  isolation: isolate;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
  }
}

.hero-container{
  &:after{
    background-image: url("../../public/hero.jpg");
  }
}

.contact-us{
  &:after{
    background-image: url("../../public/hero-2.jpg");
  }
}
