.hero-container {
  height: calc(100vh - 6.6rem);
  width: 100%;
  position: relative;
  isolation: isolate;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../public/hero.jpg");
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
  }
}
