.img-container {
  position: relative;
  isolation: isolate;

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .prev-btn {
    left: calc(-1 * calc(3.5rem / 2));
  }
  .next-btn {
    right: calc(-1 * calc(3.5rem / 2));
  }
  .indicator-container{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background-color: #fff;
    border-radius: 100vh;
  }
}

.loader{
  --size: 3.5rem;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 6px solid #daa520;
  border-bottom-color: #daa52041;
  animation: spin 600ms linear infinite;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}