.view-type {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    label {
        position: relative;
        cursor: pointer;
        padding: 0.5rem 1.2rem;
        border-radius: 100vh;
        font-size: 1.7rem;
        border: 2px solid var(--clr-primary);
        color: var(--clr-primary);
        font-weight: 500;
        input {
            position: absolute;
            width: 0;
        }
        &:has(input:checked) {
            background-color: var(--clr-primary);
            color: #fff;
        }
    }

    &:has(label input#grid_view:checked) {
        & ~ .image-grid-section {
            display: block !important;
        }
    }
    &:has(label input#list_view:checked) {
        & ~ .data-grid-section {
            display: block !important;
        }
    }
}
