.table {
    thead tr th {
        padding-bottom: 1.5rem;
        padding-left: 2.5rem;
        padding-top: 1.5rem;
        text-align: left;
    }
    tbody {
        tr {
            &:nth-child(odd) {
                background: #d7d7d7;
            }
            td {
                padding-left: 2.5rem;
            }
        }
    }
}
