@import "tailwindcss";
@import "./styles/navbar.css";
@import "./styles/experience.css";
@import "./styles/hero.css";
@import "./styles/form.css";
@import "./styles/table.css";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --clr-primary: #1152d4;
  font-size: 62.5%;
}

html{
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #Gjuu0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;

  &:has(.sidenav-container.show) {
    position: fixed;
    width: 100%;
    &:after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100%;
      z-index: 1;
      filter: brightness(0.2);
      inset: 0;
      background: rgb(0 0 0 / 44%);
    }
  }
}

.wrapper {
  width: min(90%, 115rem);
  margin: 0 auto;
}

.progress-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .progress-label {
    color: #fff;
    font-size: 1.4rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  progress {
    overflow: hidden;
    &::-webkit-progress-bar {
      border-radius: 100vh;
    }
    &::-webkit-progress-value {
      background-color: var(--clr-primary);
      border-radius: 100vh;
    }
  }
}

.loader{
  --size: 3.2rem;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 2px solid orangered;
  border-bottom-width: 0;
  animation: spin linear 0 1 infinite;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}