@import "tailwindcss";
@import "./styles/navbar.css";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --clr-primary: #1152d4;
  font-size: 62.5%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  width: min(90%, 115rem);
  margin: 0 auto;
}

.hero-container {
  height: calc(100vh - 6.6rem);
  width: 100%;
  position: relative;
  isolation: isolate;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url("../public/hero.jpg");
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
  }
}
